

  .circleButton {
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: #121212;
    color: #fff;
    height: 20px;
    width: 20px; /* Feste Breite */
    box-sizing: border-box; /* Damit die Breite auch den Rand und das Padding einschließt */
  }
  .normalButton {
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: #121212;
    color: #fff;
    padding: 0.5rem;
    margin-top: 23px;
    width: 150px; /* Feste Breite */
    box-sizing: border-box; /* Damit die Breite auch den Rand und das Padding einschließt */
  }
